{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block menu %}
{% if user.is_authenticated %}
    <li><a href="{% url 'profile' user_obj.pk %}">Назад</a></li>
    <li><a href=" {% url 'change' user_obj.pk %}">Редактировать профиль</a></li>
{% endif %}
{% endblock %}
{% block content %}
    <h1>Смена пароля</h1>
    {% url "accounts:password_change" user_obj.pk as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method="post" button_class="btn btn-success" button_text="Изменить пароль" %}
{% endblock %}