{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
{% if user.is_authenticated %}
    {% if request.user == user_obj %}
    <li><a href=" {% url 'change' user_obj.pk %}">Редактировать профиль</a></li>
    <li><a href="{% url 'password_change' %}">Смена пароля</a></li>
    {% endif %}
{% endif %}
{% endblock %}

{% block content %}

    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <p>Логин: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.get_full_name }}</p>
    <p>Email: {{ user_obj.email }}</p>

    <h2 class="text-center clear">Отзывы:</h2>
    {% include 'partial/review_list.html' %}


{% endblock %}