{% extends 'base.html' %}
{% block title %}Редактировать пользователя{% endblock %}
{% block menu %}
{% if user.is_authenticated %}
    <li><a href="{% url 'profile' user_obj.pk %}">Назад</a></li>
    <li><a href="{% url 'password_change' %}">Смена пароля</a></li>
{% endif %}
{% endblock %}
{% block content %}
    <h1>Поменять личные данные пользователя "{{ user_obj.username }}"</h1>
    <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        <br>
        <input type="submit" value="Редактировать">
    </form>
{% endblock %}